[submodule "glypai-api"]
	path = glypai-api
	url = https://github.com/Rishi01Prince/glypai-api.git
[submodule "glypai-web"]
	path = glypai-web
	url = https://github.com/Rishi01Prince/glypai-web.git
[submodule "glypai-event-stream"]
	path = glypai-event-stream
	url = https://github.com/Rishi01Prince/glypai-event-stream.git
